
<div class="movieIcon_container">
<div data-id="{{_id}}" id="addCart">
<i class="fas fa-plus-circle"></i>
</div>

<div class="loginAndRegister">
    <div class="h-6 h-6--black">Want to Buy/Rent this Item</div>
    <a class="h-6--black" href="/user/login">Login <i class="fas fa-angle-right"></i></a>
    <hr style="opacity: 0.5;" class="mt-s">
    <div class="h-6 h-6--black mt-s">Not A member Yet</div>
    <a href="/user/register" class="h-6--black">Register <i class="fas fa-angle-right"></i></a>
</div>


<a class="movieIcon" href="/list/{{_id}}">
<figure class="progressive">
  <img alt="{{name}}" class="progressive__img progressive--not-loaded" data-progressive={{img_s}} src="{{img_s_C}}">
</figure>



        <div class="h-5 movieIcon__name_container"></div>
        <div class="movieIcon__overflow">
        <div class="movieIcon_name">
            {{name}}
            </div>
            <div class="movieIcon_runtime">
                {{!-- {{convertToMin runtime}} Mins --}}
                {{genre}}
            </div>
        </div>

    {{#if featured}}
        <div class="featured_tag">
        </div>
       {{/if}} 



</a>
     </div>
    