
<a class="movieIcon" href="/list/{{id}}">
        <img src={{img_s}} alt="">
        <div class="h-5 movieIcon__name_container"></div>
        <div class="movieIcon__overflow">
        <div class="movieIcon_name">
            {{name}}
            </div>
            <div class="movieIcon_runtime">
                {{!-- {{convertToMin runtime}} Mins --}}
                {{genre}}
            </div>
        </div>

    {{#if featured}}
        <div class="featured_tag">
        </div>
       {{/if}} 
</a>
     