<div class="container">
    <h4 class="h-4 mb-m heading">Cart</h4>
    <hr class="mt-m mb-s">

    <div class="cart_items_all">
        {{#if moviesInCart}}
        {{#each moviesInCart}}
        <div class="cart_items">

            <div class="cart_items_content">
                {{>movieIcon this}}
                <div class="cart_items--info ml-m">
                    <h1 class="h-4 heading">{{this.name}}</h1>
                    <h1 class="h-4">Genre: {{this.genre}}</h1>
                    <h1 class="h-4">Rating: {{this.rating}}%</h1>
                    <h1 class="h-4">Rated: {{this.rated}}</h1>
                    <h1 class="h-4">Year: {{this.year}}</h1>
                    <h1 class="h-4">Runtime: {{this.runtime}} Min</h1>
                    <select name="buyOrRent" id="buyOrRent">
                        <option value="Buy">Buy For ${{this.buy}}</option>
                        <option value="Rent">Rent For ${{this.rent}}</option>
                    </select>
                </div>
            </div>
            <hr class="mt-s mb-s">
        </div>
        {{/each}}
    </div>
    <a href="/user/checkout" class="btn btn-white mt-m heading">Checkout</a>

    {{else}}
    <h1 class="h-4 mt-m">Your Cart is Empty</h1>
    <hr class="mt-m mb-s">
    <a href="/list" class="btn btn-white mt-m heading">Shop</a>
    {{/if}}

</div>
</div>


{{>footer}}