
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>


<div class="container">
<div class="h-3 h-3--white mb-l heading">Checkout</div>


<div class="checkout_order">
    <div class="h-4 h-4--white heading">Order Details</div>
    <hr class="mt-s mb-s">
    <div class="checkout_order_Total">
      
      <div class="checkout_order_container" style="overflow-y: scroll; max-height: 40vh;">
      {{#each moviesInCart}}
            <div class="col">
            <img style="width: 7rem; height: 9rem;" src="{{this.img_s_C}}" alt="{{this.name}}">
            <div class="h-5">{{this.name}}</div>
            {{#if this.isBuying}}
            <div class="h-5">Buy ${{this.buy}}</div>
            {{else}}
            <div class="h-5">Rent ${{this.rent}}</div>
            {{/if}}
            </div>
            <hr class="mt-s mb-s">
      {{/each}}
      </div>

      <hr class="mt-s mb-s">
        <div class="col">
        <div class="h-4">Subtotal</div>
        <div class="h-4 order_subtotal">${{subtotal}}</div>
        </div>
        <div class="col">
        <div class="h-4">Taxes</div>
        <div class="h-4 order_taxes">${{tax}}</div>
        </div>
        <div class="col">
        <div class="h-4">Total</div>
        <div class="h-4 order_total">${{total}}</div>
        </div>
    </div>

    <hr class="mt-s">

   <form action="payment" method="POST"> 
    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="{{key}}" 
        data-amount="{{multiply total 100}}" 
        data-currency="cad" 
        data-name="{{user.name}}" 
        data-description="Buy Movies" 
        data-locale="auto" > 
        </script> 
    </form> 
</div>
</div></div>

{{!-- 
  <script type="text/javascript">
    var stripe = Stripe("pk_test_51IN9I3GirNS3b2DLPMbOmRuijT0iW8KWXpSqBH2FM38H5jWA9OEKiDgjb2JcDcNAXVyJsL0QtybT8g20zWqhsy0600ygnd8bG7");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script> --}}