<div class="container">
<div class="dashboard">
    <h3 class="dashboard__name h-4">{{user.firstname}} {{user.lastname}} Dashboard's</h3>
    <h3 class="h-4 heading mt-m">Your Orders</h3>
    <hr class="mt-m">
  {{#if allOrders}}
{{#each allOrders}}
    <div class="order">
   <div class="h-4 h-4--white mt-l">{{moment this.dateCreated}}
     <hr class="mt-s mb-s">
   </div> 
    {{#each singleOrder}}
          <div class="col">
            <img style="width: 7rem; height: 9rem;" src="{{this.img_s_C}}" alt="{{this.name}}">
            <div class="order__info ml-s" style="display: flex; flex-direction: column; justify-content: space-evenly;">
            <div class="h-5">{{this.name}}</div>
            {{#if this.isBuying}}
            <div class="h-5">Bought</div>
            {{else}}
            <div class="h-5">Rented</div>
            {{/if}}
            <div class="h-5">${{this.price}}</div>
            </div>
            </div>
            <hr class="mt-s mb-s">

    {{/each}}
          
            <div class="h-5">Tax:   ${{this.taxPrice}}</div>
            <div class="h-5">SubTotal:   ${{subtract this.totalPrice  this.taxPrice}}</div>
            <div class="h-5">Total:   ${{this.totalPrice}}</div>

            <hr class="mt-s mb-s">
    </div>
{{/each}}

{{else}}

<div class="h-4">No Orders purchased</div>
<a href="/list" class="mt-s mb-s btn btn-white">Shop</a>
<hr class="mt-s">
{{/if}}

    <div class="dashboard__btn mt-m">
    <a href="/user/update" class="btn btn-white heading mr-m">Update Account</a>
    <a href="/user/delete" class="btn btn-white heading">Delete Account</a>
    </div>

</div>
</div>

{{>footer}}
