


{{>movieHero this}}
<div class="container">
<h1 class="h-2">{{id}}</h1>
<h1 class="h-2">{{name}}</h1>

{{>movieIcon this}}
<h1 class="h-2">{{synopsis}}</h1>
<h1 class="h-2">{{rent}}</h1>
<h1 class="h-2">{{buy}}</h1>
<h1 class="h-2">{{rating}}</h1>
<h1 class="h-2">{{category}}</h1>
<h1 class="h-2">{{featured}}</h1>
</div>