<div class="movie_hero">

    <div class="movie_hero_image" style="background-image: url({{img_l}});">
        <div class="h-3 movie_name">
            {{#each (splittingBySpace name)}}
            <div class="h-3 movie_word">{{#each (splitting this)}}
                <span class="movie_char">{{this}}</span>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="container">

<div class="movie_details">

    {{>purchaseMovie this}}
    <h1 class="h-2">{{synopsis}}</h1>
</div>
    {{!-- {{>movieIcon this}} --}}

    {{!-- <h1 class="h-2">{{rating}}</h1> --}}
    {{!-- <h1 class="h-2">{{category}}</h1> --}}
    {{!-- <h1 class="h-2">{{featured}}</h1> --}}
</div>