<div class="movie_hero">

    <div class="movie_hero_image" style="background-image: url({{img_l}});">
        <div class="h-3 movie_name">
            {{#each (splittingBySpace name)}}
            <div class="h-3 movie_word">{{#each (splitting this)}}
                <span class="movie_char">{{this}}</span>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="container">

<div class="movie_details mt-l">

<div class="purchasemovie">
        <img src={{img_s}} alt="">
    {{#if featured}}
        <div class="featured_tag">
        </div>
       {{/if}} 

    <a class="btn btn-white mt-m" href="#">Buy ${{buy}}</a>
    <a class="btn btn-white mt-m" href="#">Rent ${{rent}}</a>
</div>

    {{!-- <h1 class="h-2">{{synopsis}}</h1> --}}
   <h1 class="h-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolorem eum expedita illum nihil architecto enim est corrupti atque, eius nemo facere quo sapiente. Cupiditate voluptatibus dolorem odit maiores commodi aut praesentium repudiandae in rerum nulla debitis id nobis soluta reprehenderit eligendi, ducimus nesciunt quasi consequuntur reiciendis iusto. Veritatis similique nesciunt maxime quae non molestiae, repellendus eos magni laborum expedita ex? Ratione commodi neque expedita eos reiciendis nisi tempora quam iusto corporis possimus harum sint, autem modi distinctio blanditiis fugiat voluptate porro molestias veritatis ducimus inventore doloremque? Doloremque, earum? Sint voluptatem nemo at numquam earum sed enim quam maxime. Beatae nulla ut commodi consectetur quod inventore fuga ab saepe maiores necessitatibus eaque enim quisquam optio, ea odit dicta aperiam vero blanditiis molestias illum ipsum unde. Excepturi saepe iure architecto atque impedit quibusdam possimus magni non dicta inventore omnis repudiandae cum, velit alias modi nam doloribus expedita. Omnis, suscipit sunt facilis quisquam autem, iure debitis aut quibusdam fuga rem voluptatibus tenetur recusandae fugit nam? Quam repellendus laudantium molestias, distinctio officia atque perspiciatis iure reiciendis obcaecati eum recusandae maxime amet unde ea, consectetur a earum laborum alias possimus, nesciunt quod culpa corporis! Doloremque, cum consequatur vero animi molestiae voluptates, nihil atque quis vel voluptatibus cumque distinctio molestias! Eos cupiditate sapiente voluptas ipsum. Repellendus, tempore voluptate totam in veniam inventore. Neque porro incidunt numquam dicta saepe nostrum corrupti itaque eos omnis sapiente labore eaque tempore expedita, quia ex fuga repellat, aliquam sequi reprehenderit vero eum? Saepe facere ipsa autem ex, voluptatibus iste eius cupiditate ab error delectus quisquam rerum distinctio cum atque? Laborum, quo. In voluptate maiores consectetur repellendus ad quo nesciunt earum, dolor quas id libero commodi repellat vitae inventore amet consequatur laudantium doloribus, laboriosam distinctio enim veniam molestias doloremque. Corrupti expedita saepe sint, similique quae, repellat magni excepturi ipsa optio assumenda hic odit delectus iusto, quia atque doloremque accusantium? Magnam, odio unde quidem cum culpa sequi pariatur, consequatur placeat, eius totam reprehenderit enim rerum laborum deserunt sapiente in? Expedita, ullam laudantium, provident et quaerat repellendus blanditiis reprehenderit itaque architecto fugiat vitae dignissimos! Eaque pariatur earum fugit qui veniam, nihil odit labore velit accusantium dignissimos explicabo consequuntur sit, commodi repellat dolorem optio aliquam. Perspiciatis amet dicta, beatae, repellat a itaque aspernatur enim quidem quasi vitae quos ab quas, odio tempora voluptate? Expedita minima esse quis magnam distinctio deleniti, qui recusandae doloribus tempora, fugiat dolorum! Sed aliquam odio quisquam adipisci maxime doloremque unde delectus, commodi maiores necessitatibus dolores voluptatibus ad nam dolore inventore? Velit ullam optio magni quisquam ratione a, deleniti architecto, hic, quam dignissimos illum. Numquam reiciendis labore fugit ea sint illo maiores adipisci blanditiis repellendus minima. Rem, tempora magnam ab libero ipsa blanditiis animi quis! Perspiciatis rem officiis labore eligendi delectus magnam voluptatem eum recusandae neque odio eos, doloremque optio qui, explicabo quidem ab tenetur, numquam et autem quaerat vero dolor quia ducimus. Consectetur illum esse tempora ex earum, vero perspiciatis placeat, deserunt rem a error eum! Illo vitae minima reprehenderit quo ut voluptatem fugit nesciunt vel, libero magnam, et nihil!</h1>
</div>
    {{!-- {{>movieIcon this}} --}}

    {{!-- <h1 class="h-2">{{rating}}</h1> --}}
    {{!-- <h1 class="h-2">{{category}}</h1> --}}
    {{!-- <h1 class="h-2">{{featured}}</h1> --}}
</div>
