<div class="movie_hero">

    <div class="movie_hero_image" style="background-image: url({{img_l}});">
        <div class="h-3 movie_name">
            {{#each (splittingBySpace name)}}
            <div class="h-3 movie_word">{{#each (splitting this)}}
                <span class="movie_char">{{this}}</span>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="container">

<div class="movie_details step" data-step="a">

<div class="purchasemovie">
        <img src={{img_s}} alt="">
    {{#if featured}}
        <div class="featured_tag">
        </div>
       {{/if}} 

    <a class="btn btn-white mt-m" href="#">Buy ${{buy}}</a>
    <a class="btn btn-white mt-m" href="#">Rent ${{rent}}</a>
</div>

    <h1 class="h-2">{{synopsis}}</h1>
    <h1 class="h-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi impedit odio dignissimos quibusdam cupiditate ratione error doloremque obcaecati deleniti excepturi laboriosam doloribus, eaque, voluptatum autem accusamus earum! Impedit illum eveniet ab fuga voluptatum sit ducimus. Ducimus fugiat ex quod excepturi maiores sit corrupti consequuntur, magnam porro consequatur laborum corporis sed, doloribus aliquid possimus reprehenderit fugit nam aperiam vero quibusdam? Molestias sed maiores alias illo quibusdam assumenda sapiente numquam, earum necessitatibus doloremque, sit harum fuga nulla fugit amet nisi commodi est, inventore deserunt doloribus! Officiis quo amet eius enim voluptate ducimus beatae dolorem dolor, ea perspiciatis reprehenderit voluptas repellendus non fuga consectetur, iste a ipsa sint ullam facilis deserunt blanditiis, doloremque voluptatibus! Nihil officia ratione, minima maiores eum ipsam asperiores ipsa nostrum provident quasi magnam voluptatem rem modi perferendis blanditiis libero error exercitationem totam doloremque ut eveniet ullam aut architecto! Accusamus in enim molestias inventore nemo ratione laborum, repellat amet vel eum voluptatem sunt reiciendis magnam sed eaque ea tempora asperiores aut autem hic ab placeat quis quam! Corporis iste maiores nesciunt soluta temporibus nobis suscipit eveniet fuga nisi accusamus omnis perferendis ducimus, modi cumque libero assumenda perspiciatis consequuntur, iusto esse? Assumenda officia sequi illum laboriosam pariatur nostrum, blanditiis consequatur quis aperiam. Ducimus beatae, voluptatem perferendis labore quos rem possimus officia ab dignissimos, eos eaque sapiente natus sed, facilis consectetur. Facilis obcaecati ducimus dicta. Cupiditate porro aliquid molestias amet unde, quis nam. Numquam expedita facere suscipit nesciunt nostrum culpa fuga architecto ex aliquid vero amet nulla cum recusandae maiores quos ut aut ipsum ipsam fugit, ducimus commodi alias iste unde doloribus? Quis, voluptatum eius consequatur odit id recusandae odio magnam quo voluptatem aut tempore, architecto accusantium ullam quibusdam magni quia blanditiis in. Dolore eos sit quisquam! Enim vero dolores omnis alias quibusdam iusto consequatur id esse quae! Accusantium, ipsam sequi perferendis molestias, nostrum provident voluptate similique architecto officiis, quisquam magnam blanditiis adipisci. Fugit, repellat expedita? Velit debitis sit voluptatem ut et atque, sapiente excepturi adipisci, sed doloribus sunt iure vitae modi? Ad fuga nulla obcaecati eius atque ea nisi dolore? Tenetur, quisquam iusto voluptatem accusamus repudiandae quibusdam veniam mollitia eum repellat iure enim voluptas? Quo dolore impedit aliquam facere mollitia sit in perferendis illum cupiditate, eaque esse a. Vero consectetur commodi facilis quam. Dicta, odit nihil. Hic vero unde, temporibus nobis tenetur cupiditate exercitationem placeat ut atque veritatis laudantium, assumenda repudiandae. Nostrum ullam eum nesciunt quis, vel saepe facilis laborum modi culpa, illum exercitationem quos magnam reprehenderit repudiandae inventore incidunt numquam optio cum! Asperiores voluptate eligendi culpa sit architecto aliquam accusantium saepe vitae iure, veritatis tenetur? Esse, dolorum, mollitia dignissimos enim consequatur quidem veritatis quaerat ad molestias ipsam rerum voluptatum? Mollitia blanditiis officia, porro quidem, commodi eum facilis in, consequatur adipisci consectetur quaerat beatae eos laborum! Quidem, accusamus, fuga neque eveniet ab explicabo esse ex ullam expedita, praesentium quasi id illo cum! Accusantium nobis quis officia beatae odit soluta, id quam pariatur at veniam ipsa, ratione impedit fugit. Veniam doloribus, velit tempora reiciendis laudantium eveniet amet dicta quo quaerat assumenda labore!</h1>
</div>
    {{!-- {{>movieIcon this}} --}}

    {{!-- <h1 class="h-2">{{rating}}</h1> --}}
    {{!-- <h1 class="h-2">{{category}}</h1> --}}
    {{!-- <h1 class="h-2">{{featured}}</h1> --}}
</div>
