{{>hero}}

<section>

    <div class="heading-1">
        Featured Movies
    </div>
    <ul class="people_list">
        {{#each movies}}
        <li>{{this.name}}</li>
        <li>{{this.featured}}</li>
        <li>{{this.rent}}</li>
        <li>{{this.img_s}}</li>
        <img src={{this.img_s}} alt="">
        <img src={{this.img_l}} alt="">
        <li>{{this.img_l}}</li>
        <li>{{this.category}}</li>
        <li>{{this.synopsis}}</li>
        <li>{{this.rating}}</li>

        {{/each}}
    </ul>
</section>