
<div class="container">
<h1 class="h-3 h-3--white heading">Orders</h1>

<hr class="mt-s mb-s">

{{#each allOrders}}
    <div class="order">
   <div class="h-4 h-4--white mt-l">{{moment this.dateCreated}}
     <hr class="mt-s mb-s">
   </div> 
    {{#each singleOrder}}
          <div class="col">
            <img style="width: 7rem; height: 9rem;" src="{{this.img_s_C}}" alt="{{this.name}}">
            <div class="h-5">{{this.name}}</div>
            <div class="h-5">{{this.isBuying}}</div>
            </div>
            <hr class="mt-s mb-s">
    {{/each}}
    </div>
{{/each}}
</div>
